
<!-- BEGIN USF -->
{%- comment -%}
header-inline - design 3( logo left ) , 5( logo center ), 9( logo left,search form ), 2 (header menu split)
header-sidebar - design 1( button opend menu left ), design 6( button opend menu right - social ), design 10( search form )
header With categories menu - design 8
header Menu in bottom  - design 4 - social
header vertical  - design 7 - social
{%- endcomment -%}
{%- liquid
if template.suffix != 'config' and request.design_mode == false
  section 'title_config'
  section 'pr_item_config'
  section 'btn_config'
endif -%}

{%- if t_name == 'index' -%}<h1 class="site-header__logo t4s-d-none">{{- shop.name -}}</h1>{%- endif -%}
{%- liquid
  assign admin_sp = request.design_mode
  section 'announcement-bar'
  section 'top-bar'
  case settings.header_design 
   when 'inline' 
     section 'header-inline'
   when 'sidebar' 
     section 'header-sidebar'
   when 'bottom' 
     section 'header-bottom'
   when 'categories'  
      section 'header-categories-menu'
      if admin_sp 
      section 'header-categories' 
      endif
   when 'vertical' 
     section 'header-vertical'
  endcase
  if admin_sp and settings.header_design != 'sidebar'
  section 'mega-menu'
  endif  -%}<script>                                                                                                       
window.onload = function() {
    var searchCanvas = document.querySelector('header');
    if (searchCanvas && !window._usfInstantSearchInited) {
        searchCanvas.addEventListener("mouseenter", function() {
            if (window._usfInstantSearchInited)
                return;
            var inputs = document.querySelectorAll('input.t4s-mini-search__input');
          
            if (inputs.length) {
                if (window.usf && usf.settings.instantSearch.online){
                    inputs.forEach(e => usf.utils.installSearchInput(e));
                    console.log('%c USF - Instant Search inited', 'background: blue; color: white');
                }
                window._usfInstantSearchInited = 1;
            }
        })
    }
};

</script>
<!-- zbanx header config start -->
<script type="text/javascript">
!function(e){"function"==typeof define&&define.amd?define(e):e()}(function(){"use strict";function t(t,e){var n,r=Object.keys(t);return Object.getOwnPropertySymbols&&(n=Object.getOwnPropertySymbols(t),e&&(n=n.filter(function(e){return Object.getOwnPropertyDescriptor(t,e).enumerable})),r.push.apply(r,n)),r}function e(r){for(var e=1;e<arguments.length;e++){var o=null!=arguments[e]?arguments[e]:{};e%2?t(Object(o),!0).forEach(function(e){var t,n;t=r,e=o[n=e],n in t?Object.defineProperty(t,n,{value:e,enumerable:!0,configurable:!0,writable:!0}):t[n]=e}):Object.getOwnPropertyDescriptors?Object.defineProperties(r,Object.getOwnPropertyDescriptors(o)):t(Object(o)).forEach(function(e){Object.defineProperty(r,e,Object.getOwnPropertyDescriptor(o,e))})}return r}function o(e,t){for(var n=0;n<t.length;n++){var r=t[n];r.enumerable=r.enumerable||!1,r.configurable=!0,"value"in r&&(r.writable=!0),Object.defineProperty(e,r.key,r)}}var n=new(function(){function t(e){!function(e,t){if(!(e instanceof t))throw new TypeError("Cannot call a class as a function")}(this,t),this.props=e||{},this.source=this.props.source||window.localStorage,this.initRun()}var e,n,r;return e=t,(n=[{key:"initRun",value:function(){var r=this,o=new RegExp("__expires__"),i=this.source,e=Object.keys(i);0<e.length&&e.map(function(e,t){var n;return o.test(e)||(n=Date.now(),(i["".concat(e,"__expires__")]||Date.now()+1)<=n&&r.remove(e)),e})}},{key:"set",value:function(e,t,n){var r=this.source;return r[e]=JSON.stringify(t),n&&(r["".concat(e,"__expires__")]=Date.now()+6e4*n),t}},{key:"get",value:function(e){var t=this.source,n=Date.now();if((t["".concat(e,"__expires__")]||Date.now()+1)<=n)return this.remove(e),null;n=null;try{n=t[e]&&JSON.parse(t[e])}catch(e){}return n}},{key:"remove",value:function(e){var t=this.source,n=t[e];return delete t[e],delete t["".concat(e,"__expires__")],n}}])&&o(e.prototype,n),r&&o(e,r),t}());function c(e){for(var t=1;t<arguments.length;t++){var n,r=arguments[t];for(n in r)e[n]=r[n]}return e}var r=function t(a,i){function n(e,t,n){if("undefined"!=typeof document){"number"==typeof(n=c({},i,n)).expires&&(n.expires=new Date(Date.now()+864e5*n.expires)),n.expires&&(n.expires=n.expires.toUTCString()),e=encodeURIComponent(e).replace(/%(2[346B]|5E|60|7C)/g,decodeURIComponent).replace(/[()]/g,escape);var r,o="";for(r in n)n[r]&&(o+="; "+r,!0!==n[r]&&(o+="="+n[r].split(";")[0]));return document.cookie=e+"="+a.write(t,e)+o}}return Object.create({set:n,get:function(e){if("undefined"!=typeof document&&(!arguments.length||e)){for(var t=document.cookie?document.cookie.split("; "):[],n={},r=0;r<t.length;r++){var o=t[r].split("="),i=o.slice(1).join("=");try{var c=decodeURIComponent(o[0]);if(n[c]=a.read(i,c),e===c)break}catch(e){}}return e?n[e]:n}},remove:function(e,t){n(e,"",c({},t,{expires:-1}))},withAttributes:function(e){return t(this.converter,c({},this.attributes,e))},withConverter:function(e){return t(c({},this.converter,e),this.attributes)}},{attributes:{value:Object.freeze(i)},converter:{value:Object.freeze(a)}})}({read:function(e){return(e='"'===e[0]?e.slice(1,-1):e).replace(/(%[\dA-F]{2})+/gi,decodeURIComponent)},write:function(e){return encodeURIComponent(e).replace(/%(2[346BF]|3[AC-F]|40|5[BDE]|60|7[BCD])/g,decodeURIComponent)}},{path:"/"}),i=60,a=1440*i,u="zbanx_",s="track_code",p="pid",f="landing_uri",l=function(){var e="zbx_test_".concat(Math.random()),t=new RegExp("(^|;)\\s*".concat(e,"=zbx_test_value")),n=new Date(0),r=document.domain,o=r.split("."),i=[];for(i.unshift(o.pop());o.length;){i.unshift(o.pop());var c=i.join("."),a="".concat(e,"=zbx_test_value;domain=.").concat(c);if(document.cookie=a,t.test(document.cookie)){document.cookie="".concat(a,";expires=").concat(n),r=c;break}}return r}();function d(e){e=new RegExp("(^|&)".concat(e,"=([^&]*)(&|$)")),e=location.search.substr(1).match(e);return null!==e?e[2]:null}function h(e){return r.get(e=u+e)||n.get(e)}function v(e,t){r.set(e=u+e,t,{expires:i,domain:l}),n.set(e,t,a)}function b(){d("z_code")&&(v(s,d("z_code")||h(s)),v(p,d("z_pid")||h(p)),v(f,location.href))}!function(e){e.shop;var t=e.trackUrl,n=e.expires;(e=t).lastIndexOf("/"),e.length,a=n,b()}(e(e({},{shop:"{{ shop.permanent_domain }}",trackUrl:"https://api.zbanx.com/",version:"2.1.1"}),{},{expires:86400}))});
</script>
<!-- zbanx header config end -->
<!-- END USF -->

{% comment %}USF
{%- comment -%}
header-inline - design 3( logo left ) , 5( logo center ), 9( logo left,search form ), 2 (header menu split)
header-sidebar - design 1( button opend menu left ), design 6( button opend menu right - social ), design 10( search form )
header With categories menu - design 8
header Menu in bottom  - design 4 - social
header vertical  - design 7 - social
{%- endcomment -%}
{%- liquid
if template.suffix != 'config' and request.design_mode == false
  section 'title_config'
  section 'pr_item_config'
  section 'btn_config'
endif -%}

{%- if t_name == 'index' -%}<h1 class="site-header__logo t4s-d-none">{{- shop.name -}}</h1>{%- endif -%}
{%- liquid
  assign admin_sp = request.design_mode
  section 'announcement-bar'
  section 'top-bar'
  case settings.header_design 
   when 'inline' 
     section 'header-inline'
   when 'sidebar' 
     section 'header-sidebar'
   when 'bottom' 
     section 'header-bottom'
   when 'categories'  
      section 'header-categories-menu'
      if admin_sp 
      section 'header-categories' 
      endif
   when 'vertical' 
     section 'header-vertical'
  endcase
  if admin_sp and settings.header_design != 'sidebar'
  section 'mega-menu'
  endif  -%}
USF{% endcomment %}
