<script>
    const productData = [
      [
        {
          img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
          title: 'CHARGERS'
        }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }],
      [
        {
          img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
          title: 'CHARGERS'
        }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }],
      [
        {
          img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
          title: 'CHARGERS'
        }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }],
      [
        {
          img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
          title: 'CHARGERS'
        }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }]
    ]

    const ugWorkData = [
      [{
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }], [{
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }], [{
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }, {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/40737_16348ac7-42b4-4471-9e0b-7996fe48b370.png?v=1658728430',
        title: 'CHARGERS'
      }]]

    const solutionData = [
      {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/img1_PC_2x_ab1ddd44-fedf-4031-a106-99589111acd7.png?v=1672816657',
        title: 'PowerRoam 600W',
        subTitle: 'One for All',
        color: '#000000'
      },
      {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/img3_PC_2x_e615c702-eb4b-4f66-8de5-7763ad138e47.png?v=1672816657',
        title: 'Ugreen Xmas Gift',
        subTitle: 'Happy Day Off',
        color: '#FFFFFF'
      },
      {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/img2_PC_2x_e54f1f21-e996-48cd-a98b-187ea3875c06.png?v=1672816656',
        title: 'Magic Cables',
        subTitle: 'Connect All Your Devices',
        color: '#000000'
      },
      {
        img: 'https://cdn.shopify.com/s/files/1/0257/5246/9566/files/img4_PC_2x_53da3887-d449-4a7c-a408-da38a0f970a7.png?v=1672816656',
        title: 'Phone Stander',
        subTitle: 'Makes Easier and Cleaner',
        color: '#FFFFFF'
      }
    ]
</script>

<script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
<script src="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/ug-mega-menu.umd.js?v=1672841936"></script>
<link rel="stylesheet" href="https://cdn.shopify.com/s/files/1/0257/5246/9566/files/style.css?v=1672841387">

{% raw %}
    <div id="ug-mega-menu-slot">
        <UgMegaMenu></UgMegaMenu>
       <ug-mega-menu productData="productData" ugWorkData="ugWorkData" solutionData="solutionData"></ug-mega-menu>
    </div>
{% endraw %}


<script>
    // const { createApp } = window.Vue
    setTimeout(() => {
        console.log(window.Vue, 'rinimmmmm')
        window.Vue.createApp({
            data() {
                return {
                    productData,
                    ugWorkData,
                    solutionData
                }
            }
        }).use(UgMegaMenu).mount('#ug-mega-menu-slot')
        console.log(UgMegaMenu, 'UgMegaMenu')
    }, 3000)
    console.log('2--------')
    // window.onload  = () => {
    //     window.Vue.createApp({
    //         data() {
    //             return {
    //                 productData,
    //                 ugWorkData,
    //                 solutionData
    //             }
    //         }
    //     }).use(UgMegaMenu).mount('#ug-mega-menu-slot')
    //     console.log(window.Vue, '11111')
    //     console.log(Vue, 'heheheh2223')
    //
    //     console.log('rinim a1112')
    // }
</script>

