<a class="e-widget no-button generic-loader" href="https://gleam.io/ZQ5lM/test-custom-code" rel="nofollow">Test Custom Code</a>
<script type="text/javascript" src="https://widget.gleamjs.io/e.js" async="true"></script>
<meta property="og:url" content="https://gleam.io/ZQ5lM/test-custom-code"/>

  <style>
    *{margin:0;padding:0;border:none;}
    html,iframe,body{width:100%;height:100%;}
    html{overflow:hidden}
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      html,iframe,body{min-height:100%;}
    }
  </style>
 <iframe src="https://gleam.io/ZQ5lM/test-custom-code" frameBorder="0" allowfullscreen></iframe>