<script type="text/javascript" src="https://widget.gleamjs.io/e.js" async="true"></script>

<style>
  .full-main {
    padding: 20px;
    height: 100%;
    width: 100%;
/*     background: url(https://cdn.shopify.com/s/files/1/0573/0979/0291/files/banner-2.jpg?v=1665542693); */
    background: linear-gradient(to right,#5f92e3, #d5ff79);
  }
</style>

<div class="full-main">
  <a class="e-widget no-button generic-loader" href="https://gleam.io/ZQ5lM/test-custom-code" rel="nofollow">Test Custom Code</a>
<a class="e-widget no-button generic-loader" href="https://gleam.io/2ZzLM/instant-entry" rel="nofollow">Instant Entry</a>
  {{ "now" | date: "%Y-%m-%d %H:%M:%S" }}
</div>